/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: blue;
  border-color: blueviolet;
}
.btn-secondary {
  color: #fff;
  background-color: red;
  border-color: red;
}

.modal_test {
  background-color: aqua;
  border-color: red;
}
.button1 {
  color : red;
  background-color: purple;
}
.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: papayawhip;
}
#container {
  position: relative;
  height: 250px;
  border: 1px solid black;
}

#dropdownHeader {
  width: 100%;
  max-width: 12em;
  padding: 0.2em 0 0.2em 0.2em;
  margin: 1em;
  cursor: pointer;
  box-shadow: 0 1px 4px 3px rgba(34, 36, 38, 0.15);
}

#dropdownContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3em;
  width: 100%;
  max-width: 12em;
  margin-left: 1em;
  box-shadow: 0 1px 4px 0 rgba(34, 36, 38, 0.15);
  padding: 0.2em;
}

#item {
  font-size: 12px;
  font-weight: 500;
  padding: 0.75em 1em 0.75em 2em;
  cursor: pointer;
}